body {
	background-color: orange;
	font-family: 'Roboto', sans-serif;
}
.candy {
	border-radius: 22px;
	-webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 594 444' height='444px' width='594px'%3E%3Cpath d='M 0 0 v 444 h 594 v -444 z M 98 263 C 111 212 339 211 384 264 Q 389 274 384 304 Q 382 337 385 368 C 385 383 365 371 359 375 C 349 379 344 375 337 381 C 328 382 224 381 183 376 Q 149 375 114 371 C 107 368 110 350 105 345 C 94 318 93 280 98 263z' /%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 594 444' height='444px' width='594px'%3E%3Crect height='100%25' width='100%25' fill='%23fff' /%3E%3Cpath d='M 0 0 v 444 h 594 v -444 z M 98 263 C 111 212 339 211 384 264 Q 389 274 384 304 Q 382 337 385 368 C 385 383 365 371 359 375 C 349 379 344 375 337 381 C 328 382 224 381 183 376 Q 149 375 114 371 C 107 368 110 350 105 345 C 94 318 93 280 98 263z' /%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
	z-index: 10000000;
	user-select: none;
	pointer-events: none;
}
.checkCandy{
	font-weight: 600;
	font-size: 120%;
	text-align: center;
}
.checkCandy > b {
	font-weight: 900;
	
}
.controls {
	position: absolute;
	bottom: 3px;
	left: 33%;
/* 	border: 1.5px dashed rgba(0,0,0,0.5); */
	height: 12%;
	border-radius: 5px;
}
.controls > .cbtn:hover > rect, .controls > .cbtn:hover > circle, .controls > .cbtn:hover > path {
	cursor: pointer;
	stroke: #0cc;
}
.container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.imgContainer {
	position: relative;
	width: 594px;
	height: 444px;
}

#screen{
	position:absolute;
	background:#222;
	height:37%;
	width:50%;
	top:50%;
	left:16%;
	border:1px solid #222;
	z-index:-1;
}