.breadcrumbs
{
    margin-top: 10px;
}
.BlocRubriqueInfo {
    margin-bottom: 10px;
}

.BlocRubriqueInfo .SocialLinks li {
    background: #1f7fb8;
    margin-left: 5px;
}

.BlocRubriqueInfo .SocialLinks li a {
    color: #fff;
    padding: 5px 10px;
    text-shadow: 0 0 0 rgba(0,0,0,0);
}

.BlocRubriqueInfo .SocialLinks li a:hover,.BlocRubriqueInfo .SocialLinks li a:focus {
    color: #fff;
}

.BlocRubriqueInfo .SocialLinks li a i {
    font-size: 15px;
    font-size: 1.5rem;
}

.BlocRubriqueInfo .SocialLinks .st_facebook_custom {
    background: url("../../../../../images/Facebook.png") no-repeat scroll left top transparent;
    padding: 0;
    width: 26px;
    height: 26px;
    display: block;
    cursor: pointer;
}

.BlocRubriqueInfo .SocialLinks .st_twitter_custom {
    background: url("../../../../../images/Twitter.png") no-repeat scroll left top transparent;
    padding: 0;
    width: 26px;
    height: 26px;
    display: block;
    cursor: pointer;
}

.BlocRubriqueInfo .SocialLinks .st_googleplus_custom {
    background: url("../../../../../images/Google.png") no-repeat scroll left top transparent;
    padding: 0;
    width: 26px;
    height: 26px;
    display: block;
    cursor: pointer;
}

.BlocRubriqueInfo .SocialLinks .st_email_custom {
    background: url("../../../../../images/Email.png") no-repeat scroll left top transparent;
    padding: 0;
    width: 26px;
    height: 26px;
    display: block;
    cursor: pointer;
}

.summary {
    margin-bottom: 10px;
    padding-bottom: 10px;
    width: 100%;
    padding: 10px 2%;
    margin-left: -2%;
}

.summary ul {
    margin: 0;
}

.summary ul li a {
    display: block;
}

#to_summary .accroche {
    margin-bottom: 15px;
}

#to_summary .texte {
    font-size: 13px;
    font-size: 1.3rem;
}

#to_summary .texte ul {
    list-style: square url("../../../../unify/assets/img/puce-niveau-1.png");
}

#to_summary .texte ul ul {
    list-style: square url("../../../../unify/assets/img/puce-niveau-2.png");
}

#to_summary .texte ul ul ul {
    list-style: square url("../../../../unify/assets/img/puce-niveau-3.png");
}

#to_summary .DocumentsLiens {
    padding: 5px 10px;
    margin-top: 10px;
    background-color: #eee;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#eee));
    background: -webkit-linear-gradient(top, #eee, #eee);
    background: -moz-linear-gradient(top, #eee, #eee);
    background: -ms-linear-gradient(top, #eee, #eee);
    background: -o-linear-gradient(top, #eee, #eee);
    border-left: rgb(94,188,220) 5px solid;
}

.BlocRubriqueInfo h1
{
    background: rgb(0,140,189);
    color: #fafafa;
    padding: 10px;
    font-size: 24px;
}
.summary
{
    margin-bottom: 20px;
    margin-left: 0px;
    background-color: #eee;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#eee));
    background: -webkit-linear-gradient(top, #eee, #eee);
    background: -moz-linear-gradient(top, #eee, #eee);
    background: -ms-linear-gradient(top, #eee, #eee);
    background: -o-linear-gradient(top, #eee, #eee);
    border-left: rgb(0,140,189) 5px solid;
}
.summary ul
{
    list-style: square url("../../../../unify/assets/img/puce-niveau-1.png");
    padding-left: 20px;
}
.summary a 
{
    color:rgb(0,85,124);
}

.article
{
/*    margin-bottom: 40px; */
}
/* Sousmenu */
.menuSecondaire ul
{
    background: #eee;

}
.menuSecondaire ul li
{
    border-left: 5px solid transparent; 
}
.menuSecondaire ul li li
{
    border: none; 
}
.menuSecondaire ul li
{
    border-left: 5px solid transparent;
    border-bottom: 1px solid #E6E6E6; 
}
.menuSecondaire ul ul {
    list-style: square url("../../../../unify/assets/img/puce-niveau-1.png");
}
.menuSecondaire ul ul ul {
    list-style: square url("../../../../unify/assets/img/puce-niveau-2.png");
}
.menuSecondaire ul ul ul ul {
    list-style: square url("../../../../unify/assets/img/puce-niveau-3.png");
}
.menuSecondaire ul li.active a,
.menuSecondaire ul li.active li.active a,
.menuSecondaire ul li.active li.active li.active a,
.menuSecondaire ul li.active a:hover,
.menuSecondaire ul li.active li.active a:hover,
.menuSecondaire ul li.active li.active li.active a:hover
{
    background: none;
    color: rgb(0,140,189);

}
.menuSecondaire ul li.active li a,
.menuSecondaire ul li.active li.active li a,
.menuSecondaire ul li.active li.active li.active li a
{
    background: none;
    color: inherit;
}
.menuSecondaire ul li:hover
{
    border-left: 5px solid rgb(0,140,189);    
}
.menuSecondaire ul li li:hover
{
    border: none;
}